<div id="<%= dom_id group_payment %>">
  <p>
    <strong>Group:</strong>
    <%= group_payment.group_id %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= group_payment.payment_id %>
  </p>

</div>
